*~
*#
*.aux
*.bbl
*.blg
*.concordance.tex
*.DS_Store
*.gz
*.log
*.nav
*.out
.Rapp.history
.Rbuildindex*
.Rhistory
*.rds
*.Rout
*.snm
*.tar
*.toc
*.Trash*
*.Trashes
*.vrb
cache/
figure/
*progress.txt
*stdout.txt
*stderr.txt